@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <pre>
    This Old Spouse Handyman Service
    Subsidiary of TOS Enterprises, LLC
    6910 Consolata Street
    Boca Raton, FL 33433<br/>    
    561.447.9485
    </pre>
</address>

<address>
    <a href="mailto:sales@thisoldspouse.com">Email to Sales</a><br />
    <a href="mailto:info@thisoldspouse.com">Email to Info</a>
</address>