@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>This Old Spouse Handyman Service</h2>
    <p class="lead">Subsidiary of TOS Enterprises, LLC</p>    
</div>

<div class="row">
    <div class="col-md-12">    
        <img src="~/Content/Images/ssAvailableServices.JPG" class="img-responsive" />
    </div>
</div>