@{
    ViewBag.Title = "Home Page";
}


@*jquery ticker plugin from
https://github.com/jonmifsud/Web-Ticker/*@

<div class="row">
    <div class="col-md-12">
        <img src="~/Content/Images/ssAvailableServices.JPG" class="img-responsive" />
    </div>
</div>

